<!--<div class="row">
	<div class="col-xs-12 text-center">
		<h4>
			{{title}}
			<i id="add-wentwell" class="icon-plus-sign" (click)="addTile()" title="Add"></i> 
		</h4>
	</div>
</div>
<section id="well-items-cards" class="card-section">
	<div class="card-base" *ngFor="let item of values">
		<span>{{item}}</span>
	</div>
</section>-->
<div class="row">
	<div class="col-xs-12 text-center">
		<h4>
			{{title}}
			<i id="add-wentwell" class="icon-plus-sign" (click)="addTile()" title="Add"></i>
		</h4>
	</div>
</div>
<section id="well-items-cards" class="card-section">
	<div class="card-base well-items"></div>
	<div class="card-base well-items"></div>
	<div class="card-base well-items"></div>
	<div class="card-base well-items"></div>
	<div class="card-base well-items"></div>
</section>

