<div class="row">
  <div class="col-xs-12 text-center">
  <h3><b>{{title}}</b></h3>
  </div>
</div>
<!--<div class="row">
  <div class="col-xs-12 col-sm-6" *ngFor="let item of boardData">
    {{item.values}}
    <app-wentwell title="{{item.header}}" values={{item.values}} boardType="{{item.boardType}}"></app-wentwell>
  </div>
</div>-->
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <app-wentwell></app-wentwell>
  </div>
  <div class="col-xs-12 col-sm-6">
    <app-tobeimproved></app-tobeimproved>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <app-startdoing></app-startdoing>
  </div>
  <div class="col-xs-12 col-sm-6">
    <app-actionitems></app-actionitems>
  </div>
</div>





